input[type=text]{
    background-color: rgba(182, 178, 178, 0.2);
}

input[type=text]:focus{
    background-color: white;
    outline: 2px solid white;
}

::placeholder{
    color: rgba(0, 0, 0, 0.2);
}

.c-createsite{
    padding-top: 70px;

}

.c-form{
    margin-bottom: 50px;
    min-width: 50px
}

.parent-listcontainer{

    display: inline-grid;
    width:240px;
    height: 300px;
    border:1px solid #ccc;
    margin:30px;
    padding:40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    background-color: rgb(255, 255, 255);
}

.parent-listcontainer:hover{
    background-color: #000;
    color: #fff;
}

.c-anc{
    text-decoration: none;
    color: #000;
}

.c-ul{
    display: inline-grid;
    grid-template-rows: 20px 20px 20px 20px;
    justify-items: center;
    align-items: end;
    margin-bottom: 20px;

}

.grid-create-site{
    display: inline-grid;
    grid-template-rows: 20px 20px 50px 40px;
}
.c-createsite{
    grid-row-start: 1;
    grid-row-end: 1;
    

}

.c-list{
    list-style-type: none;
}

.c-spanlol:hover .c-anc{
    color: inherit;
}

.c-site-container a{
    color: inherit;
    
}

.c-btn-change{
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    outline:none;
}

.c-label-span{
    font-size: 30px;
}

.p-location{
    padding-top: 5px;
    font-size: 15px;
}

.p-temp{
    padding-top: 5px;
    font-size: 20px;   
}

.search{
    padding-top: 100px;
    padding-bottom: 100px;
}

.date-time{
    font-size: 15px
}
