/* Root CSS is done in the Root style tag.*/

input[type=text]{
    background-color: rgba(182, 178, 178, 0.2);
}

input[type=text]:focus{
    background-color: white;
    outline: 2px solid white;
}

::placeholder{
    color: rgba(0, 0, 0, 0.2);
}

.c-createsite{
    padding-top: 15px;
}

.parent-listcontainer{
    padding: 20px;
    margin-left: 20px;
    margin-top: 200px;
    max-width: 400px;
    border: 2px dotted;
    background-color: rgb(255, 255, 255);
}

.parent-listcontainer:hover{
    background-color: #000;
    color: #fff;
}

.c-anc{
    text-decoration: none;
    color: #000;
}

.c-list{
    list-style-type: none;
}

.c-spanlol:hover .c-anc{
    color: inherit;
}

.c-site-container a{
    color: inherit;
}

.c-btn-change{
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    outline:none;
}

.c-label-span{
    font-size: 17px;
}




