.parent-listcontainer{
    padding: 20px;
    margin-left: 20px;
    margin-top: 200px;
    max-width: 400px;
    border: 2px dotted;
    background-color: rgb(255, 255, 255);
}

.parent-listcontainer:hover{
    background-color: #000;
    color: #fff;
}

.c-anc{
    text-decoration: none;
    color: #000;
}

.c-list{
    list-style-type: none;
}

.c-spanlol:hover .c-anc{
    color: inherit;
}

.c-site-container a{
    color: inherit;
}

.c-btn-change{
    display: none;
}



